<html>
  <head>

  <link href="/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
  <link href="/css/login_style.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
  </head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">Proyecto BD I</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Login</h2>
   <p>Ingrese usuario</p>
   </div>
    <form id="Login">

        <div class="form-group">


            <input type="text" class="form-control" id="id-user" placeholder="Usuario">

        </div>


        <button type="btn" id="btn-login" class="btn btn-primary">Iniciar sesión</button>

        <br/>
<hr/>
<button type="btn" id="btn-persona" class="btn btn-primary">Crear persona</button>

</div>
      
    </form>
    </div>
</div></div></div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="js/login.js"></script>
</html>




